* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.check {
  width: 20px;
}

@media (min-width: 800px) {
  .container {
    width: 800px;
  }
}

@media (min-width: 600px) {
  .container-2 {
    width: 600px !important;
  }
}

.progress {
  height: 10px;
  width: 100%;
}
